# CSV - DATASET

In [1]:
import pandas as pd 
pd.set_option('display.max_columns', None)
import warnings
warnings.simplefilter('ignore')

In [2]:
df=pd.read_csv('./data/results.csv')

In [3]:
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1969-11-01,Italy,France,1,0,Euro,Novara,Italy,False
1,1969-11-01,Denmark,England,4,3,Euro,Aosta,Italy,True
2,1969-11-02,England,France,2,0,Euro,Turin,Italy,True
3,1969-11-02,Italy,Denmark,3,1,Euro,Turin,Italy,False
4,1975-08-25,Thailand,Australia,3,2,AFC Championship,Hong Kong,Hong Kong,True

In [4]:
df.shape

(4314, 9)

In [5]:
df.dtypes

date          object
home_team     object
away_team     object
home_score     int64
away_score     int64
tournament    object
city          object
country       object
neutral         bool
dtype: object

In [6]:
df['date'] = df['date'].astype('datetime64')

In [7]:
df.dtypes

date          datetime64[ns]
home_team             object
away_team             object
home_score             int64
away_score             int64
tournament            object
city                  object
country               object
neutral                 bool
dtype: object

In [8]:
df['date'] = df['date'].dt.year

In [9]:
df.rename(columns = {'date':'year'}, inplace = True)

In [10]:
df.head()

,year,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1969,Italy,France,1,0,Euro,Novara,Italy,False
1,1969,Denmark,England,4,3,Euro,Aosta,Italy,True
2,1969,England,France,2,0,Euro,Turin,Italy,True
3,1969,Italy,Denmark,3,1,Euro,Turin,Italy,False
4,1975,Thailand,Australia,3,2,AFC Championship,Hong Kong,Hong Kong,True

In [11]:
df['year'].unique()

array([1969, 1975, 1977, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986,
       1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997,
       1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
       2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
       2020, 2021, 2022])

In [12]:
df = df.drop('neutral',axis=1)

In [13]:
df['year'].dtype

dtype('int64')

In [14]:
import pandas as pd
import numpy as np
import datetime

In [15]:
df =df.loc[df["year"].between(2000, 2021)]
df.reset_index(drop=True, inplace=True)
df.head(5)

,year,home_team,away_team,home_score,away_score,tournament,city,country
0,2000,Turkey,Bosnia and Herzegovina,3,1,UEFA Euro qualification,Istanbul,Turkey
1,2000,England,Portugal,2,0,UEFA Euro qualification,Barnsley,England
2,2000,Greece,Bosnia and Herzegovina,4,0,UEFA Euro qualification,Greece,Greece
3,2000,England,Norway,0,3,UEFA Euro qualification,Norwich,England
4,2000,Portugal,United States,0,7,Algarve Cup,Albufeira,Portugal

In [16]:
df['result']=df.home_score - df.away_score

In [17]:
df.head()

,year,home_team,away_team,home_score,away_score,tournament,city,country,result
0,2000,Turkey,Bosnia and Herzegovina,3,1,UEFA Euro qualification,Istanbul,Turkey,2
1,2000,England,Portugal,2,0,UEFA Euro qualification,Barnsley,England,2
2,2000,Greece,Bosnia and Herzegovina,4,0,UEFA Euro qualification,Greece,Greece,4
3,2000,England,Norway,0,3,UEFA Euro qualification,Norwich,England,-3
4,2000,Portugal,United States,0,7,Algarve Cup,Albufeira,Portugal,-7

In [18]:
def ganar(x):
    
    if x>0:
        return 'home'
    
    elif x<0:
        return 'away'
    
    else:
        return 'draw'


df.result=df.result.apply(ganar)

In [19]:
df.head()

,year,home_team,away_team,home_score,away_score,tournament,city,country,result
0,2000,Turkey,Bosnia and Herzegovina,3,1,UEFA Euro qualification,Istanbul,Turkey,home
1,2000,England,Portugal,2,0,UEFA Euro qualification,Barnsley,England,home
2,2000,Greece,Bosnia and Herzegovina,4,0,UEFA Euro qualification,Greece,Greece,home
3,2000,England,Norway,0,3,UEFA Euro qualification,Norwich,England,away
4,2000,Portugal,United States,0,7,Algarve Cup,Albufeira,Portugal,away

In [20]:
df['winner'] = pd.Series(dtype='int')
df.head()

,year,home_team,away_team,home_score,away_score,tournament,city,country,result,winner
0,2000,Turkey,Bosnia and Herzegovina,3,1,UEFA Euro qualification,Istanbul,Turkey,home,NaN
1,2000,England,Portugal,2,0,UEFA Euro qualification,Barnsley,England,home,NaN
2,2000,Greece,Bosnia and Herzegovina,4,0,UEFA Euro qualification,Greece,Greece,home,NaN
3,2000,England,Norway,0,3,UEFA Euro qualification,Norwich,England,away,NaN
4,2000,Portugal,United States,0,7,Algarve Cup,Albufeira,Portugal,away,NaN

In [21]:
df.head()

,year,home_team,away_team,home_score,away_score,tournament,city,country,result,winner
0,2000,Turkey,Bosnia and Herzegovina,3,1,UEFA Euro qualification,Istanbul,Turkey,home,NaN
1,2000,England,Portugal,2,0,UEFA Euro qualification,Barnsley,England,home,NaN
2,2000,Greece,Bosnia and Herzegovina,4,0,UEFA Euro qualification,Greece,Greece,home,NaN
3,2000,England,Norway,0,3,UEFA Euro qualification,Norwich,England,away,NaN
4,2000,Portugal,United States,0,7,Algarve Cup,Albufeira,Portugal,away,NaN

In [22]:
df['winner'] = df.apply(lambda x : x['home_team'] if x['home_score'] > x['away_score'] 
                                              else (x['away_team'] if x['home_score'] < x['away_score'] else np.nan),
                                              axis=1)

In [23]:
df['winner']=df['winner'].fillna('None')

# SCRAPING

## Method: Selenium

In [24]:
%pip install selenium
from selenium import webdriver

Requirement already satisfied: selenium in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (4.1.3)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.20.0)
Requirement already satisfied: idna in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: attrs>=19.2.0 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: outcome in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: cffi>=1.12 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from cryptography>=1.3.4->urllib3[secure,socks]~=1.26->selenium) (1.14.6)
Requirement already satisfied: pycparser in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from cffi>=1.12->cryptography>=1.3.4->urllib3[secure,socks]~=1.26->selenium) (2.20)
Requirement already satisfied: six>=1.5.2 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Note: you may need to restart the kernel to use updated packages.

In [25]:
%pip install webdriver-manager
from webdriver_manager.chrome import ChromeDriverManager

Requirement already satisfied: webdriver-manager in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (3.5.4)
Requirement already satisfied: requests in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from webdriver-manager) (2.26.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver-manager) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver-manager) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver-manager) (2021.10.8)
Note: you may need to restart the kernel to use updated packages.

In [26]:
from selenium.webdriver.chrome.options import Options

opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
opciones.add_extension('driver/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

In [39]:
PATH=ChromeDriverManager().install()
URL='https://www.goal.com/en-in/news/fifa-womens-world-player-of-the-year-award-winners/blt12683887fe8df959'
driver=webdriver.Chrome(PATH)
driver.get(URL)

====== WebDriver manager ======
Current google-chrome version is 100.0.4896
Get LATEST chromedriver version for 100.0.4896 google-chrome
Driver [/Users/lucasmigliano/.wdm/drivers/chromedriver/mac64/100.0.4896.60/chromedriver] found in cache

In [40]:
acepto=driver.find_element_by_xpath('//*[@id="onetrust-accept-btn-handler"]')

acepto.click()

In [41]:
tabla = driver.find_element_by_xpath('//*[@id="__next"]/div/main/div/div/article/main/div[3]/div/div[4]')

players = tabla.find_elements_by_tag_name('tr')

players

[<selenium.webdriver.remote.webelement.WebElement (session="d3f3efefe827e509dbb92b149e3aadab", element="b3c4e5a5-0659-4625-8163-b177640789de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3f3efefe827e509dbb92b149e3aadab", element="537d4aa0-f66f-4b54-b02b-e49efaacfc4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3f3efefe827e509dbb92b149e3aadab", element="4de8e3db-85e2-4248-9565-bfbbde209878")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3f3efefe827e509dbb92b149e3aadab", element="6e475424-6c27-4281-b076-ecd7f83501a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3f3efefe827e509dbb92b149e3aadab", element="51e3bda8-ecc2-4868-987f-1e26721fcf7f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3f3efefe827e509dbb92b149e3aadab", element="d9d51baa-a4b7-4a06-9097-e4e389eb9260")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3f3efefe827e509dbb92b149e3aadab", element="183ad40d-68a1-4f53-9237-0a489d44e6b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3f3efefe827e509dbb92b149e3aadab", element="9df128b0-51b0-4a62-9c63-5436a6c36244")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3f3efefe827e509dbb92b149e3aadab", element="6ee67535-484f-4c3d-8e4d-8acb8ebaab20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3f3efefe827e509dbb92b149e3aadab", element="4ffa343f-d06f-4a92-bf55-d6f17448b516")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3f3efefe827e509dbb92b149e3aadab", element="bf4e43be-9270-4b9e-a2ca-86c9f63c3506")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3f3efefe827e509dbb92b149e3aadab", element="472c3884-29f1-4918-936c-9d21d00d90d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3f3efefe827e509dbb92b149e3aadab", element="839b1de1-247e-4b5b-94bf-59bc7d46f7eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3f3efefe827e509dbb92b149e3aadab", element="58ea2e9a-2008-47c6-8f1d-70ee034b5136")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3f3efefe827e509dbb92b149e3aadab", element="4bef26de-8521-4413-8c66-8dc6d35b1072")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3f3efefe827e509dbb92b149e3aadab", element="430bd00d-9736-4858-9103-873495e5496b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3f3efefe827e509dbb92b149e3aadab", element="9fe81a70-f518-4cac-b794-e0f4ef9819eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3f3efefe827e509dbb92b149e3aadab", element="b80babed-3d1d-4c0a-90bb-370fb2fc01b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3f3efefe827e509dbb92b149e3aadab", element="ef99fc34-8788-4bfe-a6d9-54348f3ee886")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3f3efefe827e509dbb92b149e3aadab", element="78352161-2bba-4d44-bf07-a9e44fef2d81")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3f3efefe827e509dbb92b149e3aadab", element="8a84e67d-eaec-4b8a-9d75-cd4031ab0c15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d3f3efefe827e509dbb92b149e3aadab", element="69b31cb5-6b09-4d52-bff5-b5e925a6176f")>]

In [42]:
lst = []

for i in players:
    i = i.text.replace('\n', ',,,').replace('  ', ',,,').split(',,,')
    lst.append(i)
lst

[['Year', 'Player', 'Club'],
 ['2001', 'Mia Hamm', 'Washington Freedom'],
 ['2002', 'Mia Hamm', 'Washington Freedom'],
 ['2003', 'Birgit Prinz', 'Carolina Courage/Birgit Prinz'],
 ['2004', 'Birgit Prinz', 'FFC Frankfurt'],
 ['2005', 'Birgit Prinz', 'FFC Frankfurt'],
 ['2006', 'Marta', 'Umea IK'],
 ['2007', 'Marta', 'Umea IK'],
 ['2008', 'Marta', 'Umea IK'],
 ['2009', 'Marta', 'Santos'],
 ['2010', 'Marta', 'FC Gold Pride'],
 ['2011', 'Homare Sawa', 'INAC Kobe Leonessa'],
 ['2012', 'Abby Wambach', 'W/O club'],
 ['2013', 'Nadine Angerer', 'Brisbane Roar'],
 ['2014', 'Nadine Kebler', 'Wolfsburg'],
 ['2015', 'Carli Lloyd', 'Houston Dash'],
 ['2016', 'Carli Lloyd', 'Houston Dash'],
 ['2017', 'Lieke Martens', 'FC Barcelona'],
 ['2018', 'Marta', 'Orlando Pride'],
 ['2019', 'Megan Rapinoe', 'Reign FC'],
 ['2020', 'Lucy Bronze', 'Manchester City'],
 ['2021', 'Alexia Putellas', 'FC Barcelona']]

In [43]:
col_names=lst[0]

data=lst[1:]

df3=pd.DataFrame(data, columns=col_names)

df3.head()

   Year        Player                           Club
0  2001      Mia Hamm             Washington Freedom
1  2002      Mia Hamm             Washington Freedom
2  2003  Birgit Prinz  Carolina Courage/Birgit Prinz
3  2004  Birgit Prinz                  FFC Frankfurt
4  2005  Birgit Prinz                  FFC Frankfurt

In [44]:
df3['Club']=[c.replace('Carolina Courage/Birgit Prinz', 'FFC Frankfurt') for c in df3.Club]

df3.head()

   Year        Player                Club
0  2001      Mia Hamm  Washington Freedom
1  2002      Mia Hamm  Washington Freedom
2  2003  Birgit Prinz       FFC Frankfurt
3  2004  Birgit Prinz       FFC Frankfurt
4  2005  Birgit Prinz       FFC Frankfurt

# API

## FIFA