# CSV - DATASET

In [325]:
import pandas as pd 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import warnings
warnings.simplefilter('ignore')

In [326]:
df=pd.read_csv('./data/results.csv')

In [327]:
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1969-11-01,Italy,France,1,0,Euro,Novara,Italy,False
1,1969-11-01,Denmark,England,4,3,Euro,Aosta,Italy,True
2,1969-11-02,England,France,2,0,Euro,Turin,Italy,True
3,1969-11-02,Italy,Denmark,3,1,Euro,Turin,Italy,False
4,1975-08-25,Thailand,Australia,3,2,AFC Championship,Hong Kong,Hong Kong,True

In [328]:
df.shape

(4314, 9)

In [329]:
df.dtypes

date          object
home_team     object
away_team     object
home_score     int64
away_score     int64
tournament    object
city          object
country       object
neutral         bool
dtype: object

In [330]:
df['date'] = df['date'].astype('datetime64')

In [331]:
df.dtypes

date          datetime64[ns]
home_team             object
away_team             object
home_score             int64
away_score             int64
tournament            object
city                  object
country               object
neutral                 bool
dtype: object

In [332]:
df['date'] = df['date'].dt.year

In [333]:
df.rename(columns = {'date':'year'}, inplace = True)

In [334]:
df.head()

,year,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1969,Italy,France,1,0,Euro,Novara,Italy,False
1,1969,Denmark,England,4,3,Euro,Aosta,Italy,True
2,1969,England,France,2,0,Euro,Turin,Italy,True
3,1969,Italy,Denmark,3,1,Euro,Turin,Italy,False
4,1975,Thailand,Australia,3,2,AFC Championship,Hong Kong,Hong Kong,True

In [335]:
df['year'].unique()

array([1969, 1975, 1977, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986,
       1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997,
       1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
       2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
       2020, 2021, 2022])

In [336]:
df['home_team'].unique()

array(['Italy', 'Denmark', 'England', 'Thailand', 'Hong Kong',
       'New Zealand', 'Australia', 'Taiwan', 'Indonesia', 'Singapore',
       'Sweden', 'Northern Ireland', 'France', 'Switzerland', 'Wales',
       'India S', 'India N', 'Western Australia', 'India', 'Japan',
       'Finland', 'Norway', 'Iceland', 'Scotland', 'Belgium',
       'Netherlands', 'Republic of Ireland', 'Portugal', 'Germany',
       'Malaysia', 'Philippines', 'New Caledonia', 'Hungary', 'Spain',
       'China PR', 'Bulgaria', 'Czechoslovakia', 'Poland', 'North Korea',
       'Nigeria', 'Ghana', 'Canada', 'Haiti', 'United States',
       'Martinique', 'Trinidad and Tobago', 'Jamaica', 'Brazil', 'Chile',
       'Guinea', 'Papua New Guinea', 'Cameroon', 'Russia', 'Greece',
       'Romania', 'Yugoslavia', 'Lithuania', 'Ukraine', 'Latvia',
       'Slovenia', 'Slovakia', 'Croatia', 'Czech Republic', 'Mexico',
       'South Africa', 'Sierra Leone', 'Zambia', 'Argentina', 'Ecuador',
       'Angola', 'Austria', 'Uzbekistan', 'Faroe Islands', 'South Korea',
       'Kazakhstan', 'FR Yugoslavia', 'Belarus', 'Estonia', 'Turkey',
       'Paraguay', 'Colombia', 'Uruguay', 'Venezuela', 'Bolivia', 'Peru',
       'Mozambique', 'Egypt', 'Uganda', 'Eswatini', 'Lesotho',
       'Guatemala', 'El Salvador', 'Costa Rica', 'Puerto Rico', 'Fiji',
       'DR Congo', 'Morocco', 'Honduras', 'Nicaragua',
       'Bosnia and Herzegovina', 'Israel', 'Vietnam', 'Guam', 'Gabon',
       'Réunion', 'Zimbabwe', 'Algeria', 'Dominican Republic',
       'Saint Lucia', 'Panama', 'Suriname', 'Tanzania',
       'Equatorial Guinea', 'Mali', 'Ethiopia', 'Senegal', 'Eritrea',
       'São Tomé and Príncipe', 'Ivory Coast', 'Cook Islands', 'Samoa',
       'Armenia', 'Serbia and Montenegro', 'Malta', 'Congo', 'Malawi',
       'Myanmar', 'Benin', 'Togo', 'Barbados', 'Antigua and Barbuda',
       'Cayman Islands', 'Kenya', 'Netherlands Antilles',
       'British Virgin Islands', 'U.S. Virgin Islands', 'Bermuda',
       'Aruba', 'Saint Kitts and Nevis',
       'Saint Vincent and the Grenadines', 'Dominica', 'Grenada',
       'Luxembourg', 'Macedonia', 'Georgia', 'Azerbaijan', 'Tonga',
       'Serbia', 'Iran', 'Tunisia', 'Kyrgyzstan', 'Palestine', 'Maldives',
       'Jordan', 'Guyana', 'Namibia', 'Botswana',
       'Turks and Caicos Islands', 'Anguilla', 'Cuba', 'Solomon Islands',
       'Tahiti', 'Vanuatu', 'Great Britain', 'Bangladesh', 'Bahrain',
       'Lebanon', 'Burkina Faso', 'Rwanda', 'Belize', 'Comoros',
       'Moldova', 'Andorra', 'Albania', 'Montenegro', 'Libya',
       'Mauritius', 'Tajikistan', 'United Arab Emirates', 'Iraq',
       'Kosovo', 'Syria', 'Central African Republic', 'Gambia',
       'Guadeloupe', 'Curaçao', 'American Samoa', 'Basque Country'],
      dtype=object)

In [337]:
df = df.drop('neutral',axis=1)

In [338]:
df['year'].dtype

dtype('int64')

In [339]:
import pandas as pd
import numpy as np
import datetime

In [340]:
df =df.loc[df["year"].between(2000, 2021)]
df.reset_index(drop=True, inplace=True)
df.head(5)

,year,home_team,away_team,home_score,away_score,tournament,city,country
0,2000,Turkey,Bosnia and Herzegovina,3,1,UEFA Euro qualification,Istanbul,Turkey
1,2000,England,Portugal,2,0,UEFA Euro qualification,Barnsley,England
2,2000,Greece,Bosnia and Herzegovina,4,0,UEFA Euro qualification,Greece,Greece
3,2000,England,Norway,0,3,UEFA Euro qualification,Norwich,England
4,2000,Portugal,United States,0,7,Algarve Cup,Albufeira,Portugal

In [341]:
df['result']=df.home_score - df.away_score

In [342]:
df.head()

,year,home_team,away_team,home_score,away_score,tournament,city,country,result
0,2000,Turkey,Bosnia and Herzegovina,3,1,UEFA Euro qualification,Istanbul,Turkey,2
1,2000,England,Portugal,2,0,UEFA Euro qualification,Barnsley,England,2
2,2000,Greece,Bosnia and Herzegovina,4,0,UEFA Euro qualification,Greece,Greece,4
3,2000,England,Norway,0,3,UEFA Euro qualification,Norwich,England,-3
4,2000,Portugal,United States,0,7,Algarve Cup,Albufeira,Portugal,-7

In [343]:
def ganar(x):
    
    if x>0:
        return 'home'
    
    elif x<0:
        return 'away'
    
    else:
        return 'draw'


df.result=df.result.apply(ganar)

In [344]:
df.head()

,year,home_team,away_team,home_score,away_score,tournament,city,country,result
0,2000,Turkey,Bosnia and Herzegovina,3,1,UEFA Euro qualification,Istanbul,Turkey,home
1,2000,England,Portugal,2,0,UEFA Euro qualification,Barnsley,England,home
2,2000,Greece,Bosnia and Herzegovina,4,0,UEFA Euro qualification,Greece,Greece,home
3,2000,England,Norway,0,3,UEFA Euro qualification,Norwich,England,away
4,2000,Portugal,United States,0,7,Algarve Cup,Albufeira,Portugal,away

In [345]:
df['winner'] = pd.Series(dtype='int')
df.head()

,year,home_team,away_team,home_score,away_score,tournament,city,country,result,winner
0,2000,Turkey,Bosnia and Herzegovina,3,1,UEFA Euro qualification,Istanbul,Turkey,home,NaN
1,2000,England,Portugal,2,0,UEFA Euro qualification,Barnsley,England,home,NaN
2,2000,Greece,Bosnia and Herzegovina,4,0,UEFA Euro qualification,Greece,Greece,home,NaN
3,2000,England,Norway,0,3,UEFA Euro qualification,Norwich,England,away,NaN
4,2000,Portugal,United States,0,7,Algarve Cup,Albufeira,Portugal,away,NaN

In [346]:
df['winner'] = df.apply(lambda x : x['home_team'] if x['home_score'] > x['away_score'] 
                                              else (x['away_team'] if x['home_score'] < x['away_score'] else 'draw'),
                                              axis=1)

In [347]:
df['points'] = pd.Series(dtype='int')
df.head()

,year,home_team,away_team,home_score,away_score,tournament,city,country,result,winner,points
0,2000,Turkey,Bosnia and Herzegovina,3,1,UEFA Euro qualification,Istanbul,Turkey,home,Turkey,NaN
1,2000,England,Portugal,2,0,UEFA Euro qualification,Barnsley,England,home,England,NaN
2,2000,Greece,Bosnia and Herzegovina,4,0,UEFA Euro qualification,Greece,Greece,home,Greece,NaN
3,2000,England,Norway,0,3,UEFA Euro qualification,Norwich,England,away,Norway,NaN
4,2000,Portugal,United States,0,7,Algarve Cup,Albufeira,Portugal,away,United States,NaN

In [348]:
df['points'] = df.apply(lambda x : 1 if x['winner'] == 'draw'
                                              else 3,
                                              axis=1)
df.head()

,year,home_team,away_team,home_score,away_score,tournament,city,country,result,winner,points
0,2000,Turkey,Bosnia and Herzegovina,3,1,UEFA Euro qualification,Istanbul,Turkey,home,Turkey,3
1,2000,England,Portugal,2,0,UEFA Euro qualification,Barnsley,England,home,England,3
2,2000,Greece,Bosnia and Herzegovina,4,0,UEFA Euro qualification,Greece,Greece,home,Greece,3
3,2000,England,Norway,0,3,UEFA Euro qualification,Norwich,England,away,Norway,3
4,2000,Portugal,United States,0,7,Algarve Cup,Albufeira,Portugal,away,United States,3

In [349]:
df2 = df[['year', 'winner']].copy()

In [350]:
df2.to_csv('./data/df2.csv', index=False)

# SCRAPING

## Method: Selenium

In [351]:
%pip install selenium
from selenium import webdriver

Requirement already satisfied: selenium in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (4.1.3)
Requirement already satisfied: trio-websocket~=0.9 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.20.0)
Requirement already satisfied: sniffio in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: attrs>=19.2.0 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: cffi>=1.12 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from cryptography>=1.3.4->urllib3[secure,socks]~=1.26->selenium) (1.14.6)
Requirement already satisfied: pycparser in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from cffi>=1.12->cryptography>=1.3.4->urllib3[secure,socks]~=1.26->selenium) (2.20)
Requirement already satisfied: six>=1.5.2 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Note: you may need to restart the kernel to use updated packages.

In [352]:
%pip install webdriver-manager
from webdriver_manager.chrome import ChromeDriverManager

Requirement already satisfied: webdriver-manager in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (3.5.4)
Requirement already satisfied: requests in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from webdriver-manager) (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver-manager) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver-manager) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from requests->webdriver-manager) (3.2)
Note: you may need to restart the kernel to use updated packages.

In [353]:
from selenium.webdriver.chrome.options import Options

opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
opciones.add_extension('driver/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

OSError: Path to the extension doesn't exist

In [ ]:
PATH=ChromeDriverManager().install()
URL='https://www.goal.com/en-in/news/fifa-womens-world-player-of-the-year-award-winners/blt12683887fe8df959'
driver=webdriver.Chrome(PATH)
driver.get(URL)

In [ ]:
acepto=driver.find_element_by_xpath('//*[@id="onetrust-accept-btn-handler"]')

acepto.click()

In [ ]:
tabla = driver.find_element_by_xpath('//*[@id="__next"]/div/main/div/div/article/main/div[3]/div/div[4]')

players = tabla.find_elements_by_tag_name('tr')

players

In [ ]:
lst = []

for i in players:
    i = i.text.replace('\n', ',,,').replace('  ', ',,,').split(',,,')
    lst.append(i)
lst

In [ ]:
import pandas as pd

col_names=lst[0]

data=lst[1:]

df3=pd.DataFrame(data, columns=col_names)

df3.head()

In [ ]:
df3['Club']=[c.replace('Carolina Courage/Birgit Prinz', 'FFC Frankfurt') for c in df3.Club]

df3

## BEAUTIFUL SOUP

In [ ]:
import requests as req

from bs4 import BeautifulSoup as bs
url='https://www.topendsports.com/sport/soccer/list-player-of-the-year-women.htm'
html=req.get(url).content

html[:1000]

In [ ]:
soup=bs(html, 'html.parser')

tabla=soup.find('div',{'class':'table-responsive'})
tabla
type(tabla)

In [ ]:
tabla2=tabla.find('table',{'class':'list'})
tabla2

In [ ]:
filas=tabla2.find_all('tr')

filas=[f.text.strip().split('\n') for f in filas]

In [ ]:
col_names=filas[0]

data=filas[1:]

df4=pd.DataFrame(data, columns=col_names)

df4.head()

In [ ]:
df4 = df4.rename(str.title, axis='columns')
df4.head(1)

In [ ]:
df4 = df4.sort_values(by = ['Year'], ascending=True).reset_index().drop('index',axis=1)
df4.head()

In [356]:
df4['Player']=[c.replace('Nadine Keßler', 'Nadine Kebler') for c in df4.Player]

df4['Player'] = df4['Player'].apply(lambda x: x.strip())
df4

    Year           Player      Nationality
0   2001         Mia Hamm    United States
1   2002         Mia Hamm    United States
2   2003     Birgit Prinz          Germany
3   2004     Birgit Prinz          Germany
4   2005     Birgit Prinz          Germany
5   2006            Marta           Brazil
6   2007            Marta           Brazil
7   2008            Marta           Brazil
8   2009            Marta           Brazil
9   2010            Marta           Brazil
10  2011      Homare Sawa            Japan
11  2012     Abby Wambach              USA
12  2013   Nadine Angerer          Germany
13  2014    Nadine Kebler          Germany
14  2015      Carli Lloyd              USA
15  2016      Carli Lloyd              USA
16  2017    Lieke Martens  The Netherlands
17  2018            Marta           Brazil
18  2019    Megan Rapinoe              USA
19  2020      Lucy Bronze          England
20  2021  Alexia Putellas            Spain

In [360]:
df5 = pd.merge(df3,df4,how="inner")
df5

    Year           Player                Club      Nationality
0   2001         Mia Hamm  Washington Freedom    United States
1   2002         Mia Hamm  Washington Freedom    United States
2   2003     Birgit Prinz       FFC Frankfurt          Germany
3   2004     Birgit Prinz       FFC Frankfurt          Germany
4   2005     Birgit Prinz       FFC Frankfurt          Germany
5   2006            Marta             Umea IK           Brazil
6   2007            Marta             Umea IK           Brazil
7   2008            Marta             Umea IK           Brazil
8   2009            Marta              Santos           Brazil
9   2010            Marta       FC Gold Pride           Brazil
10  2011      Homare Sawa  INAC Kobe Leonessa            Japan
11  2012     Abby Wambach            W/O club              USA
12  2013   Nadine Angerer       Brisbane Roar          Germany
13  2014    Nadine Kebler           Wolfsburg          Germany
14  2015      Carli Lloyd        Houston Dash              USA
15  2016      Carli Lloyd        Houston Dash              USA
16  2017    Lieke Martens        FC Barcelona  The Netherlands
17  2018            Marta       Orlando Pride           Brazil
18  2019    Megan Rapinoe            Reign FC              USA
19  2020      Lucy Bronze     Manchester City          England
20  2021  Alexia Putellas        FC Barcelona            Spain

In [365]:
df5['Nationality']=[c.replace('USA', 'United States') for c in df5.Nationality]
df5['Nationality']=[c.replace('The Netherlands', 'Netherlands') for c in df5.Nationality]

In [366]:
df5['Club'].value_counts()

FFC Frankfurt         3
Umea IK               3
Washington Freedom    2
Houston Dash          2
FC Barcelona          2
Santos                1
FC Gold Pride         1
INAC Kobe Leonessa    1
W/O club              1
Brisbane Roar         1
Wolfsburg             1
Orlando Pride         1
Reign FC              1
Manchester City       1
Name: Club, dtype: int64

In [367]:
df5

    Year           Player                Club    Nationality
0   2001         Mia Hamm  Washington Freedom  United States
1   2002         Mia Hamm  Washington Freedom  United States
2   2003     Birgit Prinz       FFC Frankfurt        Germany
3   2004     Birgit Prinz       FFC Frankfurt        Germany
4   2005     Birgit Prinz       FFC Frankfurt        Germany
5   2006            Marta             Umea IK         Brazil
6   2007            Marta             Umea IK         Brazil
7   2008            Marta             Umea IK         Brazil
8   2009            Marta              Santos         Brazil
9   2010            Marta       FC Gold Pride         Brazil
10  2011      Homare Sawa  INAC Kobe Leonessa          Japan
11  2012     Abby Wambach            W/O club  United States
12  2013   Nadine Angerer       Brisbane Roar        Germany
13  2014    Nadine Kebler           Wolfsburg        Germany
14  2015      Carli Lloyd        Houston Dash  United States
15  2016      Carli Lloyd        Houston Dash  United States
16  2017    Lieke Martens        FC Barcelona    Netherlands
17  2018            Marta       Orlando Pride         Brazil
18  2019    Megan Rapinoe            Reign FC  United States
19  2020      Lucy Bronze     Manchester City        England
20  2021  Alexia Putellas        FC Barcelona          Spain

In [368]:
df5.to_csv('./data/players.csv', index=False)

# Selenium

In [251]:
PATH=ChromeDriverManager().install()
URL='https://www.worldfootball.net/winner/frauen-champions-league/'
driver=webdriver.Chrome(PATH)
driver.get(URL)

acepto=driver.find_element_by_xpath('//*[@id="qc-cmp2-ui"]/div[2]/div/button[2]')
acepto.click()

====== WebDriver manager ======
Current google-chrome version is 100.0.4896
Get LATEST chromedriver version for 100.0.4896 google-chrome
Driver [/Users/lucasmigliano/.wdm/drivers/chromedriver/mac64/100.0.4896.60/chromedriver] found in cache

In [252]:
tabla = driver.find_element_by_xpath('//*[@id="site"]/div[2]/div[1]/div[1]')
tabla

In [253]:
players = tabla.find_elements_by_tag_name('tr')
players

[<selenium.webdriver.remote.webelement.WebElement (session="98c0aff266bcef30668bdf0bfa86d9d6", element="513d2ba1-2741-4434-ae79-d99f2fd6d316")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98c0aff266bcef30668bdf0bfa86d9d6", element="c0048cf4-1b62-4687-8c46-da0e1d6cd17b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98c0aff266bcef30668bdf0bfa86d9d6", element="f594246e-f23f-4c75-852d-e54b7a8a26d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98c0aff266bcef30668bdf0bfa86d9d6", element="76936722-04f1-421a-b3ec-fd463081abc5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98c0aff266bcef30668bdf0bfa86d9d6", element="2b0203e2-0e92-482e-912d-cea56548d2c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98c0aff266bcef30668bdf0bfa86d9d6", element="f3c817ce-9d16-4dd1-9620-c1013ae3eb01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98c0aff266bcef30668bdf0bfa86d9d6", element="6c1e4903-8bc3-464e-8254-48dd2aef0df0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98c0aff266bcef30668bdf0bfa86d9d6", element="b401ef0f-b656-4d11-b7e0-4f9781f3d8b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98c0aff266bcef30668bdf0bfa86d9d6", element="1928d5d7-cec3-498f-9494-7c91f8f6c313")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98c0aff266bcef30668bdf0bfa86d9d6", element="dffb42df-1de6-4a51-842c-39f52fa9ad5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98c0aff266bcef30668bdf0bfa86d9d6", element="4dd8bef3-6c62-46a6-988a-29e0f4c6737f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98c0aff266bcef30668bdf0bfa86d9d6", element="3bd1bb43-2cf9-4218-bc50-b26a93c91f1b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98c0aff266bcef30668bdf0bfa86d9d6", element="d9131f47-4a36-4298-8bb1-9956cb5a9ad1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98c0aff266bcef30668bdf0bfa86d9d6", element="44a65b72-2dbc-40a5-8369-dba84a87e756")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98c0aff266bcef30668bdf0bfa86d9d6", element="3531422e-193c-43dc-9f50-5007577dda1a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98c0aff266bcef30668bdf0bfa86d9d6", element="4fc497e8-41a1-47b9-b828-9523845e6c10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98c0aff266bcef30668bdf0bfa86d9d6", element="70bb76b4-394b-4715-aa96-1c5a0eec45e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98c0aff266bcef30668bdf0bfa86d9d6", element="b3cb8ada-4702-4224-b6f4-75d98f78a14b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98c0aff266bcef30668bdf0bfa86d9d6", element="d303856b-a7f5-42cc-8535-eda550714c65")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98c0aff266bcef30668bdf0bfa86d9d6", element="b3ca77ba-ddba-47c9-931f-3a683b8c168d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98c0aff266bcef30668bdf0bfa86d9d6", element="df918205-b09d-4f9d-943a-3e1f3561346c")>]

In [254]:
lst = []

for i in players:
    i = i.text.replace('\n', ',').replace('   ', ',,,').split(' ')
    lst.append(i)
lst

lst[0].append('a')
lst[0].append('b')
lst

[['Year', 'Winner', 'Country', 'a', 'b'],
 ['2021', 'FC', 'Barcelona', 'Spain'],
 ['2020', 'Olympique', 'Lyon', 'France'],
 ['2019', 'Olympique', 'Lyon', 'France'],
 ['2018', 'Olympique', 'Lyon', 'France'],
 ['2017', 'Olympique', 'Lyon', 'France'],
 ['2016', 'Olympique', 'Lyon', 'France'],
 ['2015', '1.', 'FFC', 'Frankfurt', 'Germany'],
 ['2014', 'VfL', 'Wolfsburg', 'Germany'],
 ['2013', 'VfL', 'Wolfsburg', 'Germany'],
 ['2012', 'Olympique', 'Lyon', 'France'],
 ['2011', 'Olympique', 'Lyon', 'France'],
 ['2010', 'Turbine', 'Potsdam', 'Germany'],
 ['2009', 'FCR', '2001', 'Duisburg', 'Germany'],
 ['2008', '1.', 'FFC', 'Frankfurt', 'Germany'],
 ['2007', 'Arsenal', 'LFC', 'England'],
 ['2006', '1.', 'FFC', 'Frankfurt', 'Germany'],
 ['2005', 'Turbine', 'Potsdam', 'Germany'],
 ['2004', 'Umeå', 'IK', 'FF', 'Sweden'],
 ['2003', 'Umeå', 'IK', 'FF', 'Sweden'],
 ['2002', '1.', 'FFC', 'Frankfurt', 'Germany']]

In [255]:
col_names=lst[0]

data=lst[1:]

cham=pd.DataFrame(data, columns=col_names)

cham

    Year     Winner    Country          a        b
0   2021         FC  Barcelona      Spain     None
1   2020  Olympique       Lyon     France     None
2   2019  Olympique       Lyon     France     None
3   2018  Olympique       Lyon     France     None
4   2017  Olympique       Lyon     France     None
5   2016  Olympique       Lyon     France     None
6   2015         1.        FFC  Frankfurt  Germany
7   2014        VfL  Wolfsburg    Germany     None
8   2013        VfL  Wolfsburg    Germany     None
9   2012  Olympique       Lyon     France     None
10  2011  Olympique       Lyon     France     None
11  2010    Turbine    Potsdam    Germany     None
12  2009        FCR       2001   Duisburg  Germany
13  2008         1.        FFC  Frankfurt  Germany
14  2007    Arsenal        LFC    England     None
15  2006         1.        FFC  Frankfurt  Germany
16  2005    Turbine    Potsdam    Germany     None
17  2004       Umeå         IK         FF   Sweden
18  2003       Umeå         IK         FF   Sweden
19  2002         1.        FFC  Frankfurt  Germany

In [256]:
cham["Champion"] = cham["Winner"] + " " + cham["Country"]
cham

    Year     Winner    Country          a        b         Champion
0   2021         FC  Barcelona      Spain     None     FC Barcelona
1   2020  Olympique       Lyon     France     None   Olympique Lyon
2   2019  Olympique       Lyon     France     None   Olympique Lyon
3   2018  Olympique       Lyon     France     None   Olympique Lyon
4   2017  Olympique       Lyon     France     None   Olympique Lyon
5   2016  Olympique       Lyon     France     None   Olympique Lyon
6   2015         1.        FFC  Frankfurt  Germany           1. FFC
7   2014        VfL  Wolfsburg    Germany     None    VfL Wolfsburg
8   2013        VfL  Wolfsburg    Germany     None    VfL Wolfsburg
9   2012  Olympique       Lyon     France     None   Olympique Lyon
10  2011  Olympique       Lyon     France     None   Olympique Lyon
11  2010    Turbine    Potsdam    Germany     None  Turbine Potsdam
12  2009        FCR       2001   Duisburg  Germany         FCR 2001
13  2008         1.        FFC  Frankfurt  Germany           1. FFC
14  2007    Arsenal        LFC    England     None      Arsenal LFC
15  2006         1.        FFC  Frankfurt  Germany           1. FFC
16  2005    Turbine    Potsdam    Germany     None  Turbine Potsdam
17  2004       Umeå         IK         FF   Sweden          Umeå IK
18  2003       Umeå         IK         FF   Sweden          Umeå IK
19  2002         1.        FFC  Frankfurt  Germany           1. FFC

In [257]:
cham['Champion']=[c.replace('1. FFC', 'FFC Frankfurt') for c in cham.Champion]
cham['Champion']=[c.replace('1.', 'FFC Frankfurt') for c in cham.Champion]
cham = cham.drop(['Winner','Country'], axis=1)
cham.head()

   Year       a     b        Champion
0  2021   Spain  None    FC Barcelona
1  2020  France  None  Olympique Lyon
2  2019  France  None  Olympique Lyon
3  2018  France  None  Olympique Lyon
4  2017  France  None  Olympique Lyon

In [258]:
cham['a']=[c.replace('Frankfurt', 'Germany') for c in cham.a]
cham['a']=[c.replace('Duisburg', 'Germany') for c in cham.a]
cham['a']=[c.replace('FF', 'Sweden') for c in cham.a]
cham = cham.drop('b', axis=1)
cham.head()

   Year       a        Champion
0  2021   Spain    FC Barcelona
1  2020  France  Olympique Lyon
2  2019  France  Olympique Lyon
3  2018  France  Olympique Lyon
4  2017  France  Olympique Lyon

In [370]:
cham.rename(columns = {'a':'Country'}, inplace = True)
cham = cham.sort_values(by = ['Year'], ascending=True).reset_index().drop('index',axis=1)
cham['Champion']=[c.replace('Umeå IK', 'Umea IK') for c in cham.Champion]
cham['Champion']=[c.replace('VfL Wolfsburg', 'Wolfsburg') for c in cham.Champion]
cham

    Year  Country         Champion
0   2002  Germany    FFC Frankfurt
1   2003   Sweden          Umea IK
2   2004   Sweden          Umea IK
3   2005  Germany  Turbine Potsdam
4   2006  Germany    FFC Frankfurt
5   2007  England      Arsenal LFC
6   2008  Germany    FFC Frankfurt
7   2009  Germany         FCR 2001
8   2010  Germany  Turbine Potsdam
9   2011   France   Olympique Lyon
10  2012   France   Olympique Lyon
11  2013  Germany        Wolfsburg
12  2014  Germany        Wolfsburg
13  2015  Germany    FFC Frankfurt
14  2016   France   Olympique Lyon
15  2017   France   Olympique Lyon
16  2018   France   Olympique Lyon
17  2019   France   Olympique Lyon
18  2020   France   Olympique Lyon
19  2021    Spain     FC Barcelona

In [318]:
cham.to_csv('./data/champions.csv', index=False)