In [1]:
from src import functions as fn
import pandas as pd

In [2]:
results=pd.read_csv('./data/results.csv')

In [3]:
fn.column_cleaning(results)

In [4]:
results=fn.filter(results)

In [5]:
results=fn.winner(results)

In [6]:
results_csv=fn.copy(results)

In [7]:
results_csv

      year         winner
0     2000         Turkey
1     2000        England
2     2000         Greece
3     2000         Norway
4     2000  United States
...    ...            ...
3148  2022         France
3149  2022           draw
3150  2022  United States
3151  2022           draw
3152  2022         Norway

[3153 rows x 2 columns]