In [1]:
from src import functions as fn
import pandas as pd
import datetime

In [8]:
df=pd.read_csv('./data/results.csv')

In [9]:
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1969-11-01,Italy,France,1,0,Euro,Novara,Italy,False
1,1969-11-01,Denmark,England,4,3,Euro,Aosta,Italy,True
2,1969-11-02,England,France,2,0,Euro,Turin,Italy,True
3,1969-11-02,Italy,Denmark,3,1,Euro,Turin,Italy,False
4,1975-08-25,Thailand,Australia,3,2,AFC Championship,Hong Kong,Hong Kong,True

In [10]:
df2 = fn.dataframe_cleaning(df)
df2.head()

AttributeError: 'NoneType' object has no attribute 'head'

In [5]:
df = fn.drop22(df)

NameError: name 'df' is not defined

In [ ]:
fn.