In [1]:
from src import functions as fn
import pandas as pd

In [2]:
results=pd.read_csv('./data/results_teams.csv')

In [3]:
fn.column_cleaning(results)

In [4]:
results = fn.filter(results)

In [5]:
results = fn.winner(results)

In [6]:
results_csv=fn.copy(results)

In [7]:
results_csv

      year         winner
0     2002         Norway
1     2002       China PR
2     2002           draw
3     2002         Norway
4     2002        Germany
...    ...            ...
2942  2022         France
2943  2022           draw
2944  2022  United States
2945  2022           draw
2946  2022         Norway

[2947 rows x 2 columns]

In [8]:
results.to_csv('./data/results.csv', index=False)